.page-index {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	background: url("../images/photos/index/index-bg.png") no-repeat center top;
	background-size: cover;
	position: relative;
}

#interactive-box {
	display: block;
	background: url("../images/photos/index/interactive-box.png") center center;
	background-size: 100% 100%;
	width: size-vw(678);
	height: size-vw(1160);
	position: relative;
	top: size-vw(75);
	right: size-vw(87);
	ul {
		position: absolute;
		left: size-vw(137);
		bottom: size-vw(190);
		li {
			margin-top: size-vw(15);
			@include smooth-transition;
			&:hover {
				transform: scale(1.05);
				@include smooth-transition;
			}
			img {
				width: 100%;
			}
			&:first-of-type {
				width: size-vw(349);
			}
			&:nth-of-type(2) {
				width: size-vw(355);
			}
			&:nth-of-type(3) {
				width: size-vw(355);
			}
			&:last-of-type {
				width: size-vw(352);
			}
		}
	}
}

#index-footer {
	display: block;
	width: 100%;
	height: size-vw(922);
	background: url("../images/photos/index/bottom-part-bg.png") no-repeat center bottom;
	background-size: 100% auto;
	margin-top: size-vw(-230);
	position: relative;
	.video-wrapper {
		position: absolute;
		right: 0;
		bottom: size-vw(80);
		width: size-vw(680);
		height: size-vw(700);
		background: url("../images/icons/index/cute-dinosaur.png") no-repeat right center;
		background-size: auto 100%;
		z-index: 1;
		@include smooth-transition;
		&:hover {
			transform: scale(1.05);
			@include smooth-transition;
		}
		.video {
			display: block;
			content: '';
			position: absolute;
			top: size-vw(302);
			right: size-vw(155);
			width: size-vw(532);
			height: size-vw(343);
			background: url("../images/icons/index/player-border.png") no-repeat center center;
			background-size: 100% 100%;
			&:before {
				display: block;
				content: '';
				z-index: 1;
				background: url("../images/icons/index/dinosaur-hand.png") no-repeat center center;
				width: size-vw(174);
				height: size-vw(132);
				background-size: 100% 100%;
				position: absolute;
				top: size-vw(3);
				right: size-vw(-124);
			}
			&:after {
				display: block;
				content: '';
				z-index: 1;
				width: size-vw(88);
				height: size-vw(88);
				background: url("../images/icons/index/play-btn-shape.png") no-repeat center center;
				background-size: 100% 100%;
				position: absolute;
				@include v-h-align;
			}
			.thumbs {
				width: size-vw(498);
				height: size-vw(302);
				position: absolute;
				top: size-vw(20);
				left: size-vw(20);
				img {
					width: 100%;
				}
			}
		}
	}
	.product-wrapper {
		position: absolute;
		bottom: size-vw(165);
		left: size-vw(150);
		z-index: 1;
		img {
			width: size-vw(445);
			height: size-vw(281);
			@include smooth-transition;
			&:hover {
				transform: scale(1.1);
				@include smooth-transition;
			}
		}
	}
	.character-wrapper {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: size-vw(70);
		left: 0;
		width: 100%;
		.character-1 {
			position: relative;
			width: size-vw(500);
			height: size-vw(630);
			transform: rotate(53deg) scale(1.1);
			left: size-vw(-170);
			.character-1__body {
				position: absolute;
				top: size-vw(132);
				left: size-vw(32);
				z-index: 2;
				width: size-vw(327);
				height: size-vw(392);
			}
			.character-1__hand {
				position: absolute;
				top: size-vw(23);
				left: size-vw(306);
				transform-origin: 0 100% 0;
				z-index: 1;
				width: size-vw(106);
				height: size-vw(299);
			}
			.character-1__left-leg {
				position: absolute;
				top: size-vw(475);
				left: size-vw(270);
				transform-origin: 0 0 0;
				z-index: 1;
				width: size-vw(105);
				height: size-vw(125);
			}
			.character-1__right-leg {
				position: absolute;
				top: size-vw(324);
				left: size-vw(339);
				transform-origin: 0 50% 0;
				z-index: 1;
				width: size-vw(105);
				height: size-vw(125);
			}
		}
		.character-2 {
			position: relative;
			width: size-vw(500);
			height: size-vw(630);
			transform: rotate(18deg);
			right: size-vw(-145);
			top: size-vw(20);
			z-index: 2;
			.character-2__body {
				position: absolute;
				top: size-vw(42);
				left: size-vw(101);
				z-index: 2;
				width: size-vw(342);
				height: size-vw(443);
			}
			.character-2__left-hand {
				position: absolute;
				top: size-vw(264);
				left: size-vw(16);
				z-index: 1;
				transform-origin: 88% 22%;
				width: size-vw(156);
				height: size-vw(271);
			}
			.character-2__right-hand {
				position: absolute;
				top: size-vw(136);
				left: size-vw(351);
				z-index: 1;
				transform-origin: 0 100%;
				width: size-vw(126);
				height: size-vw(122);
			}
			.character-2__left-leg {
				position: absolute;
				top: size-vw(454);
				left: size-vw(234);
				z-index: 1;
				transform-origin: 50% 0;
				width: size-vw(100);
				height: size-vw(133);
			}
			.character-2__right-leg {
				position: absolute;
				top: size-vw(391);
				left: size-vw(320);
				z-index: 3;
				transform-origin: 70% 0;
				width: size-vw(137);
				height: size-vw(108);
			}
		}
		.character-3 {
			position: relative;
			width: size-vw(500);
			height: size-vw(630);
			transform: scale(1.05);
			z-index: 1;
			.character-3__body {
				position: absolute;
				top: size-vw(274);
				left: size-vw(16);
				z-index: 2;
				width: size-vw(332);
				height: size-vw(230);
			}
			.character-3__head {
				position: absolute;
				top: size-vw(59);
				left: size-vw(93);
				z-index: 3;
				transform-origin: 50% 100%;
				width: size-vw(396);
				height: size-vw(295);
			}
			.character-3__leg {
				position: absolute;
				top: size-vw(473);
				left: size-vw(182);
				z-index: 1;
				transform-origin: 50% 0;
				width: size-vw(73);
				height: size-vw(123);
			}
		}
	}
	.pterosaur-wrapper {
		display: inline-block;
		position: absolute;
		left: size-vw(195);
		top: size-vw(-320);
		width: size-vw(423);
		height: size-vw(350);
		img {
			width: 100%;
		}
	}
}

#chapter-selection-earth {
	position: absolute;
	left: 50%;
	top: size-vw(90);
	transform: translateX(-50%);
	.earth {
		transform-origin: size-vw(532) size-vw(614) 0;
		width: size-vw(1127);
		height: size-vw(1039);
		.earth-path {
			display: block;
			content: '';
			background: url("../images/icons/index/chapter-path.png") no-repeat center center;
			background-size: 100% 100%;
			width: size-vw(778);
			height: size-vw(537);
			position: absolute;
			top: size-vw(340);
			left: size-vw(180);
			.earth-path_chapter {
				width: size-vw(53);
				height: size-vw(52);
				position: absolute;
				@include smooth-transition;
				&:hover {
					transform: scale(1.3);
					@include smooth-transition;
				}
				&.chapter01 {
					top: size-vw(260);
					right: size-vw(10);
				}
				&.chapter02 {
					top: 0;
					right: 115px;
				}
				&.chapter03 {
					top: 147px;
					right: 193px;
				}
				&.chapter04 {
					top: 47px;
					right: 293px;
				}
				&.chapter05 {
					top: 167px;
					right: 431px;
				}
				&.chapter06 {
					top: 298px;
					right: 254px;
				}
				&.chapter07 {
					top: 468px;
					right: 311px;
				}
				&.chapter08 {
					top: 488px;
					right: 471px;
				}
				&.chapter09 {
					top: 458px;
					right: 661px;
				}
				&.chapter10 {
					top: 198px;
					right: 732px;
				}
				&.chapter11 {
					top: 48px;
					right: 623px;
				}
				&.chapter12 {
					top: 2px;
					right: 553px;
				}
			}
		}
	}
}
