/* ====================================================
Base style & container
==================================================== */
body {
	color: black;
	font-size: 100%;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow: hidden;
}

.row {
	@extend .clearfix;
	[class^="col-"] {
		float: left;
		// For PC
		@media screen and (min-width: 769px) {
			&.col-pc-33p {
				width: 33%;
			}
		}
		// For Tablet
		@media screen and (max-width: 768px) and (min-width: 481px) {
			&.col-tb-48p {
				width: 48%;
			}
		}
		// For Mobile
		@media screen and (max-width: 480px) {
			&.col-sp-100p {
				width: 100%;
			}
		}
	}
}

.flex-row {
	display: flex;
	justify-content: space-between;
	&.v-center {
		align-items: center;
	}
	&.h-center {
		justify-content: center;
	}
	&.wrap {
		flex-wrap: wrap;
	}
}

/* ====================================================
Float & clear
==================================================== */
.clearfix {
	*zoom: 1;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

/* ====================================================
Header & footer
==================================================== */
#main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	.logo {
		position: absolute;
		top: size-vw(87);
		left: size-vw(73);
		z-index: 1;
		@include smooth-transition;
		@media screen and (max-width: 768px) {
			display: none;
		}
		&:hover {
			transform: scale(1.1);
			@include smooth-transition;
		}
		img {
			width: size-vw(430);
		}
	}
}

#main-footer {

}

/* ====================================================
Components & modules
==================================================== */
#warning-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	z-index: 9999;
	img {
		width: 100%;
	}
	@media screen and (max-width: 768px) and (min-width: 376px) {
		display: block;
		.mobile-warning {
			display: none;
		}
	}
	@media screen and (max-width: 375px) {
		display: block;
		.tablet-warning {
			display: none;
		}
	}
}

/* ====================================================
Typography
==================================================== */
.txt {
	// Alignment
	&-center {
		text-align: center !important;
	}
	&-left {
		text-align: left !important;
	}
	&-right {
		text-align: right !important;
	}
	&-justify {
		text-align: justify !important;
	}
}

/* ====================================================
Buttons, input, .etc
==================================================== */
body {
	&:hover {
		cursor: url('../images/icons/common/pointing_hover.png'), auto;
	}
}
a {
	&:hover {
		cursor: url('../images/icons/common/pointing_hand.png'), auto;
	}
}
