/* ====================================================
Font
==================================================== */
@font-face {
	src: url("../fonts/Noteworthy/Noteworthy-Light.ttf") format('ttf');
	font-family: Noteworthy-Light;
}

@font-face {
	src: url("../fonts/Noteworthy/Noteworthy-Bold.ttf") format('ttf');
	font-family: Noteworthy-Bold;
}

/* ====================================================
Position & transform
==================================================== */
@mixin v-align {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin h-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin v-h-align {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====================================================
Color
==================================================== */

/* ====================================================
Sizing
==================================================== */
@for $i from 1 through 100 {
	@media screen and (min-width: 769px) {
		.mtpc-#{$i} {
			margin-top: $i + px !important;
		}
		.mlpc-#{$i} {
			margin-left: $i + px !important;
		}
		.mrpc-#{$i} {
			margin-right: $i + px !important;
		}
		.mbpc-#{$i} {
			margin-bottom: $i + px !important;
		}
		.ptpc-#{$i} {
			padding-top: $i + px !important;
		}
		.plpc-#{$i} {
			padding-left: $i + px !important;
		}
		.prpc-#{$i} {
			padding-right: $i + px !important;
		}
		.pbpc-#{$i} {
			padding-bottom: $i + px !important;
		}
	}
	@media screen and (max-width: 768px) {
		.mtsp-#{$i} {
			margin-top: $i + px !important;
		}
		.mlsp-#{$i} {
			margin-left: $i + px !important;
		}
		.mrsp-#{$i} {
			margin-right: $i + px !important;
		}
		.mbsp-#{$i} {
			margin-bottom: $i + px !important;
		}
		.ptsp-#{$i} {
			padding-top: $i + px !important;
		}
		.plsp-#{$i} {
			padding-left: $i + px !important;
		}
		.prsp-#{$i} {
			padding-right: $i + px !important;
		}
		.pbsp-#{$i} {
			padding-bottom: $i + px !important;
		}
	}
}

//@function size-vw($element-size, $screen-size) {
//	$vwSize: ($element-size / $screen-size) * 100;
//	@return #{$vwSize}vw;
//}

@function size-vw($element-size) {
	$vwSize: ($element-size / 2880) * 100;
	@return #{$vwSize}vw;
}

/* ====================================================
Misc
==================================================== */
@mixin no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin smooth-transition {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-backface-visibility: hidden;
}
