<header id="main-header">
	<div class="logo">
		<a href="<%= RELATIVE_PATH %>index.html">
			<img src="<%= RELATIVE_PATH %>images/icons/common/main-logo.png" alt="main logo">
		</a>
	</div>
</header>
