<main class="page-<%= pageData.template %>" role="main">
	<nav id="interactive-box" role="navigation">
		<ul>
			<li>
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/btn-dangky.png" alt="Đăng ký">
				</a>
			</li>
			<li>
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/btn-dangnhap.png" alt="Đăng nhập">
				</a>
			</li>
			<li>
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/btn-doctruyen.png" alt="Đọc truyện">
				</a>
			</li>
			<li>
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/btn-camnang.png" alt="Cẩm nang">
				</a>
			</li>
		</ul>
	</nav>
	<section id="chapter-selection-earth">
		<div class="earth">
			<img src="<%= RELATIVE_PATH %>images/photos/index/earth.png" alt="earth">
			<ul class="earth-path">
				<li class="earth-path_chapter chapter01">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 01">
					</a>
				</li>
				<li class="earth-path_chapter chapter02">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 02">
					</a>
				</li>
				<li class="earth-path_chapter chapter03">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 03">
					</a>
				</li>
				<li class="earth-path_chapter chapter04">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 04">
					</a>
				</li>
				<li class="earth-path_chapter chapter05">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 05">
					</a>
				</li>
				<li class="earth-path_chapter chapter06">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 06">
					</a>
				</li>
				<li class="earth-path_chapter chapter07">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 07">
					</a>
				</li>
				<li class="earth-path_chapter chapter08">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 08">
					</a>
				</li>
				<li class="earth-path_chapter chapter09">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 08">
					</a>
				</li>
				<li class="earth-path_chapter chapter10">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 10">
					</a>
				</li>
				<li class="earth-path_chapter chapter11">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 10">
					</a>
				</li>
				<li class="earth-path_chapter chapter12">
					<a href="">
						<img src="<%= RELATIVE_PATH %>images/icons/index/path-chapter.png" alt="chapter 10">
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section id="index-footer">
		<div class="pterosaur-wrapper">
			<a href="">
				<img src="<%= RELATIVE_PATH %>images/icons/index/pterosaur.png" alt="">
			</a>
		</div>
		<div class="video-wrapper">
			<div class="video">
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/video-thumb.png" alt="thumbs" class="thumbs">
				</a>
			</div>
		</div>
		<div class="product-wrapper">
			<a href="">
				<img src="<%= RELATIVE_PATH %>images/icons/index/product.png" alt="">
			</a>
		</div>
		<div class="character-wrapper">
			<div class="character-2">
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-2-body.png"
						 alt="" class="character-2__body">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-2-lhand.png"
						 alt="" class="character-2__left-hand">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-2-rhand.png"
						 alt="" class="character-2__right-hand">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-2-lleg.png"
						 alt="" class="character-2__left-leg">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-2-rleg.png"
						 alt="" class="character-2__right-leg">
				</a>
			</div>
			<div class="character-3">
				<a href="">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-3-body.png"
						 alt="" class="character-3__body">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-3-head.png"
						 alt="" class="character-3__head">
					<img src="<%= RELATIVE_PATH %>images/icons/index/img-character-3-leg.png"
						 alt="" class="character-3__leg">
				</a>
			</div>
			<div class="character-1">
				<a href="">
					<img class="character-1__body"
						 src="<%= RELATIVE_PATH %>images/icons/index/img-character-1-body.png" alt="">
					<img class="character-1__hand"
						 src="<%= RELATIVE_PATH %>images/icons/index/img-character-1-hand.png" alt="">
					<img class="character-1__left-leg"
						 src="<%= RELATIVE_PATH %>images/icons/index/img-character-1-lleg.png" alt="">
					<img class="character-1__right-leg"
						 src="<%= RELATIVE_PATH %>images/icons/index/img-character-1-rleg.png" alt="">
				</a>
			</div>
		</div>
	</section>
</main>
