<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title><%= pageData.title %></title>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="<%= pageData.description %>">
	<meta name="keyword" content="<%= pageData.keyword %>">
	<link rel="shortcut icon" type="image/png" href="<%= RELATIVE_PATH %>images/icons/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>js/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>js/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>css/styles.css">
</head>
<body>

<% include common/_header.ejs %>
<%- include(pageData.template) %>
<% include common/_footer.ejs %>

<div id="warning-box">
	<div class="tablet-warning">
		<img src="<%= RELATIVE_PATH %>images/photos/common/RopRop_tablet_rotationguide.png" alt="">
	</div>
	<div class="mobile-warning">
		<img src="<%= RELATIVE_PATH %>images/photos/common/RopRop_mobile_rotationguide.png" alt="">
	</div>
</div>

<script type="text/javascript" src="<%= RELATIVE_PATH %>js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/TweenMax.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/slick/slick.min.js"></script>
<!--<script type="text/javascript" src="<%= RELATIVE_PATH %>js/animation.js"></script>-->
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/setting.js"></script>
</body>
</html>
